In [5]:
numbers = [10, 20, 30, 40, 50, 60]

# List comprehension to generate all pairs of numbers
pairs = [(x, y) for i, x in enumerate(numbers) for y in numbers[i+1:]]

# Find the pair with the highest multiplication
max_pair = max(pairs, key=lambda pair: pair[0] * pair[1])

# Print the result
print("The two numbers with the highest multiplication are:", max_pair)

The two numbers with the highest multiplication are: (50, 60)

# Python Operators

Operators are used to perform operations on variables and values.


OPERATORS: Are the special symbols. Eg- + , * , /, etc.


OPERAND: It is the value on which the operator is applied.

In [1]:
#  In the example below, we use the + operator to add together two values
print(10 + 5)

15

Python divides the operators in the following groups:

. Arithmetic operators

. Assignment operators

. Comparison operators

. Logical operators

. Identity operators

. Membership operators

.Bitwise Operators

# Python Arithmetic Operators

  
  
  Arithmetic operators are used with numeric values to perform common mathematical operations

In [2]:
# Addition

x = 2
y = 5
print(x+y)

7

In [3]:
#Subtraction
x = 5
y = 2
print(x-y)

3

In [4]:
# Multiplication
x = 5
y = 3
print(x*y)

15

In [5]:
# Division  # quotient
x = 12
y = 3

print(x / y)

4.0

In [6]:
# Modulus
x = 5  # In Python, the modulus symbol is represented as the percentage (%)
       # symbol. Hence, it is called the remainder operator.
y = 2

print(x % y)

1

In [1]:
x=6
y=1
print(x%y)

0

In [2]:
# Exponentiation  # Exponent operator ** in Python works in the same way as 
                 # the pow(a, b) function.
x = 2
y = 5

print(x ** y) #same as 2*2*2*2*2  # 3*3*3*3*3

32

In [9]:
# Floor division
x = 15  # the floor division // rounds the result down to the nearest 
         # whole number

y = 2

print(x // y)

7

# Python Assignment Operators
 
 
 Assignment operators are used to assign values to variable

In [10]:
# Assign value of right side of expression to left side operand 
x = 5      # =

print(x)

5

In [11]:
# Multiply right operand with left operand and then assign to left operand
x = 5

x += 3 # x = x + 3

print(x)

8

In [22]:
# Multiply right operand with left operand and then assign to left operand
x = 5

x -= 3  # x = x - 3

print(x)

2

In [13]:
# Multiply right operand with left operand and then assign to left operand
x = 5

x *= 3 # x = x * 3

print(x)

15

In [21]:
# Divide left operand with right operand and then assign to left operand
x = 5

x /= 3

print(x)

1.6666666666666667

In [20]:
# Takes modulus using left and right operands and assign the result to left operand
x = 5

x % = 3 

print(x)

2

In [16]:
# Divide left operand with right operand and then assign the value(floor) to left operand
x = 5

x//=3

print(x)

1

In [19]:
# Calculate exponent(raise power) value using operands and assign value to left operand
x = 5 

x **= 3 

print(x)

125

In [6]:
# Performs Bitwise AND on operands and assign value to left operand
x = 5

x &= 3  

print(x)

1

# Python Comparison Operators


Comparison operators are used to compare two values

In [4]:
# Equal,returns False because 8 is not equal to 3

x = 8
y = 9

print(x == y) #8 == 9

False

In [8]:
# Not equal,returns True because 6 is not equal to 3
x = 6
y = 3

print(x != y)

True

In [25]:
# Greater than,returns True because 5 is greater than 3

x = 5
y = 3

print(x > y)

True

In [26]:
# Less than,returns False because 5 is not less than 3
x = 5
y = 3

print(x < y)

False

In [27]:
# Greater than or equal to,returns True because five is greater, or equal, to 3
x = 5
y = 3

print(x >= y)

True

In [28]:
# Less than or equal to, returns False because 5 is neither less than or equal to 3
x = 5
y = 3

print(x <= y)

False

# Python Logical Operators
 
 
 Logical operators are used to combine conditional statements

In [30]:
# and : Returns True if both statements are true
x = 5

print(x > 3 and x < 10)
# returns True because 5 is greater than 3 AND 5 is less than 10

True

In [32]:
# or : Returns True if one of the statements is true
x = 5

print(x > 3 or x < 4)
# 5 is greater than 3, but 5 is not less than 4

True

In [34]:
# not : Reverse the result, returns False if the result is true
x = 5

print(not(x > 3 and x < 10))

# returns False because not is used to reverse the result

False

# Python Identity Operators
  
  
  Identity operators are used to compare the objects, not if they are equal, but if they are actually the same object, with the same memory location

In [36]:
# is : Returns True if both variables are the same object

x = ["apple", "banana"]
y = ["apple", "banana"]
z = x

print(x is z)

# returns True because z is the same object as x

print(x is y)

# returns False because x is not the same object as y, even if they have the same content

print(x == y)
# to demonstrate the difference betweeen "is" and "==": this comparison returns True because x is equal to y

True
False
True

In [37]:
# is not : Returns True if both variables are not the same object
x = ["apple", "banana"]
y = ["apple", "banana"]
z = x

print(x is not z)

# returns False because z is the same object as x

print(x is not y)

# returns True because x is not the same object as y, even if they have the same content

print(x != y)

# to demonstrate the difference betweeen "is not" and "!=": this comparison returns False because x is equal to y

False
True
False

# Python Membership Operators

Membership operators are used to test if a sequence is presented in an object

In [39]:
# in : Returns True if a sequence with the specified value is present in the object
x = ["apple", "banana"]

print("banana" in x)

# returns True because a sequence with the value "banana" is in the list

True

In [3]:
x=[1,2,3,4,5]
print(6 in x)

False

In [40]:
# not in : Returns True if a sequence with the specified value is not present in the object
x = ["apple", "banana"]

print("pineapple" not in x)

# returns True because a sequence with the value "pineapple" is not in the list

True

In [4]:
x = ["apple", "banana"]
print("apple" not in x)

False

# Bitwise Operators in Python

In [9]:
# Examples of Bitwise operators
a = 10
b = 4
  
# Print bitwise AND operation
print(a & b)
  
# Print bitwise OR operation
print(a | b)
  
# Print bitwise NOT operation
print(~a)
  
# print bitwise XOR operation
print(a ^ b)
  
# print bitwise right shift operation
print(a >> 2)
  
# print bitwise left shift operation
print(a << 2)

0
14
-11
14
2
40