# Datatype :-
A Datatype represent the type of the data stored in the variable. The stored in the variable is called literal.

type() :
This method is used to find the type of the data that we stored in the variable

# Pre-defind datatypes
1) Numeric Datatype

2) Sequential Datatype

3) set Datatype

# 1) Numeric datatypes
1) int ( 1,2,3,4,...65234286524...etc)

2) float ( 12.34, 6537.88762556336

3) complex ( a+bj, ex: 10+5j )

int (Integers) :
This value is represented by int class. It contains positive or negative whole numbers (without fraction or decimal). In Python there is no limit to how long an integer value can be.

In [ ]:
x=1087257239772653738736572
y=20
sum=x+y
print(sum)

In [ ]:
a=3
b=8

print(a+b)
print("a+b")

# float :
This value is represented by float class. It is a real number with floating point representation. It is specified by a decimal point. Optionally, the character e or E followed by a positive or negative integer may be appended to specify scientific notation.

In [ ]:
f1=10.123
f2=10.0
sum=f1+f2
print(sum)

In [ ]:
a=12
f=76.982
print(a+f)

# complex (Complex Numbers) :
Complex number is represented by complex class. It is specified as (real part) + (imaginary part)j. For example â€“ 2+3j
1. complex_num=a+bj
2. a=real part
3. b=imaginary part

In [ ]:
a= 30  # int
f=17.0  # float
c1=2.5+2.5J  # complex
c2=3.0-1.5J  # complex
c3=3-10j  # complex 
c=c1+c2
print(c)
print(a+c1)
print(f+c3)  # 17.00+7j

#Real part=2.5+3.0=5.5
#imaginary=2.5-1.5=1

In [ ]:
a=46+6j
b=9+5j
print(a/b)

In [1]:
a=10.95
print(type(a))
print(a)

a=int(a)
print(type(a))
print(a)


a=complex(a)
print(type(a))
print(a)

<class 'float'>
10.95
<class 'int'>
10
<class 'complex'>
(10+0j)

In [1]:
a=9+10j
print(type(a))
print(a)

a=int(a)   # it raise an ERROR. Because we c                                                                               
print(type(a))
print(a)

<class 'complex'>
(9+10j)

TypeError: can't convert complex to int

# 2) Sequential Datatypes
1) String(str) datatype

2) list datatype # Data structures

3) tuple datatype # Data structures

4) dictionaray datatype # Data structures

1. str (String) :
String is a group of characters enclosed in between single/double/triple quotes. ex: "Python" OR 'Python' OR """Python""" OR '''Python'''

In [ ]:
My_String="Python"
print(My_String)
print(type(My_String))

In [ ]:
name='python'
print(name)    # There we are printing the value of the variable "name"
print("name")  # There we are printing the string "name"
print("aarthi")

In [ ]:
a="hello "
b="world "

print(a)
print(b)

In [ ]:
print("Hello "+ "World")    # concating the strings
print("apple " + " car" + " pen")
print("Python"*6)
print(12*2)
print("division"*12)
print(12+1+2)

# Accessing the elements or a part of the string from the string :
We can access the elements of the string by using the index. and we can use| the slicing operation to access the sub string.

- start: The index to start from (inclusive).
- stop: The index to stop at (exclusive).
- step: The interval between elements (optional, defaults to 1).

In [60]:
x="ABCDEFGHIJKLMNOPQRSTUVWXYZ"
#x[0:26]   # 0 to n-1
#x[:]
#x[1:]
#x[:25]
x[0:26:3] # 2 means Take every second character 
           # It starts at index 0, moves to 2, then 4, and so on, skipping every other character.
# reverse the entire alphabet
x[::-1]

'ZYXWVUTSRQPONMLKJIHGFEDCBA'

In [13]:
s="ABCDEFGHIJKLMNOPQRSTUVWXYZ"   # s:e:st# [start:stop:step]
#print(s[0:12])   # 0 to n-1  # "ABCDEFGHIJ K  L  M  N  O  P  Q  R  S  T  U  V  W  X  Y  Z"
print(s[1:18])                  #012345678910 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26
print(s[0:7:2])
print(s[1:27:3])
# # behknqtwz
# print(s[0:25])
# print(s[0:26])
# print(s[0:26:3])
# print(s[1:24:4])  # bfjnrvz

BCDEFGHIJKLMNOPQR
ACEG
BEHKNQTWZ

In [20]:
x="programming"
print(x[2:5:2])
print(x[1:8:3])
print(x[3:9:2])
print(x[0:9:2])

or
rrm
gam
pormi

In [ ]:
a="python"
# print(len(a))
# print(a[2])         
# print(a[4])
# print(a[-1])
# print(a[-6])
# print(a[0:1])
# print(a[1:3])
# print(a[0:3])
# print(a[4])
 
# print(a[1:4])

# print(a[0:5])
#print(a[-1:5])
#print(a[-1:-5])

In [ ]:
a="welcome"
print("1)",a[-1:-4]) # error
print("2)",a[-4:-1])



print("3)",a[-5:-3])
print("4)",a[:3])
print("5)",a[:-3])
print("6)",a[::])
print("7)",a[:-7])

In [17]:
              #  s[start_value : stop_value : ]
s="Python"
#  print("Length of the string is :",len(s)) # To get the length of a string, use the len() function.
# print(s[2]) 
# print(s[0:4])step_value
#print(s[2:6])
# print(s[2:1000])
# print(s[0:5:1])  # it going to print 0 - 4th index
print(s[0:5:2])
print(s[2:0:-1])
#print(s[2:5:0])  # ERROR slice step cannot be zero

#print(s[::-1])
# print(s[::])
print(s[-4:-5:-1])

Pto
ty
t

In [ ]:
# Slicing operation on string

s="ABCDEFGHIJKLMNOPQRSTUVWXYZ"
# print(s)
# print(len(s))
# print(s[9])
# print(s[3:10:2])  # s[start_value : stop_value : step_value]
# print(s[::2])
# print(s[:100000])
# print(s[2:8:0])  # ERROR
# print(s[::-1])
# print(s[10:2:-2])
# print(s[1:12:-2])

In [ ]:
s="ABCDEFGHIJKLMNOPQRSTUVWXYZ"
print(s)
# print(s[0::1])
# print(s[0:10:])
# print(s[2:10:-2])
# print(s[2:16:3])
# print(s[-3:18:1])
# print(s[-25:0:])
#print(s[2:16:0])

In [ ]:
# s="Python programming"
# print(s[-4:-1:-1]) #mg
# print(s)
# print(len(s))
# print(s[1:4])
# print(s[1:14:2])
# print(s[4:16:5])  
# print(s[3:6:1]) 
# print(s[5:])
# print(s[5])
# print(s[-3])

In [ ]:
s="ABCDEFGHIJKLMNOPQRSTUVWXYZ."
print(s)
print(s[::])
print(s[::2])
print(s[::-1])
print(s[:10:4])
print(s[1:12])
print(s[1:12:1])
print(s[1:12:3])
print(s[::-3])
print(s[:-20:-3])

# String Methods
### 1) capitalize() : Converts the first character to upper case

In [23]:
s="hi....,I like statistics subject"
print(s.capitalize())

Hi....,i like statistics subject

### 2) casefold() : Converts string into lower case

In [8]:
s="HI....,I Like StAtistiCs StujEct"
print(s.casefold())

hi....,i like statistics stuject

### 3) center() : Returns a centered string

In [2]:
s="python"
print(s.center(50))   #Print the word "python", taking up the space of 20 characters, with "python" in the middle.
print("12345678901234567890")  # this line is just to understand how the above line work

                      python
12345678901234567890

### 4) count(): Returns the number of times a specified value occurs in a stringÂ¶

In [3]:
s="statistics"
print(s.count("s"))  # it gives ,total number of "i" in "s"

3

In [11]:
s="statistics"
print(s.count("t"))  # it gives ,total number of "i" in "s"

3

### 5) format() : Formats specified values in a string
The format() method formats the specified value(s) and insert them inside the string's placeholder.

The placeholder is defined using curly brackets: {}. Read more about the placeholders in the Placeholder section below.

The format() method returns the formatted string.

The Placeholders :-

The placeholders can be identified using named indexes {name}, numbered indexes {0}, or even empty placeholders {}.

In [12]:
print("name={},version={}".format("python",3.7))

name=python,version=3.7

In [6]:
print("My name is {}, I am {} years old {},{}.{}".format("Rani",1729,12,100,10))

My name is Rani, I am 1729 years old 12,100.10

In [103]:
print("My name is {name}, I am {age} years old.".format(name="Rani",age=17))

My name is Rani, I am 17 years old.

In [ ]:
print("My name is {name}, I am {age} years old.".format(age=17,name="Rin"))

In [ ]:
print("My name is {}, I am {} years old.".format("Rani",17))

In [7]:
print("My name is {1}, I am {0} years old.".format("Rani",17))

My name is 17, I am Rani years old.

In [ ]:
print("My name is {1}, I am {0} years old.".format("Rin",17))

In [ ]:
print("Hi... , {0},HOw are you {0}?.".format("Rin"))

### 6) format_map() : Python String format_map() method is an inbuilt function in Python, which is used to return a dictionary keyâ€™s value.
Syntax:

string.format_map(z)

Parameters:

Here z is a variable in which the input dictionary is stored and string is the key of the input dictionary. input_dict: Takes a single parameter which is the input dictionary.

In [24]:
d={"name":"Rin","age":17}
print("Hi..., I ma {name}, amd I am {age} years old.".format_map(d))

Hi..., I ma Rin, amd I am 17 years old.

In [67]:
data = {"name": "John", "age": 25}
s = "My name is {name} and I am {age} years old."
formatted_string = s.format_map(data)
print(formatted_string)

My name is John and I am 25 years old.

In [ ]:
data = {"name": "Alice"}
s = "My name is {name} and I live in {city}."
formatted_string = s.format_map(data)
print(formatted_string)
#This will raise a KeyError because the key {city}
#is not present in the data dictionary.

In [ ]:
d={"name":"Rin","age":1729}
print("Hi..., I ma {0}, amd I am {1} years old.".format_map(d))  # Error

In [ ]:
d={"names":["Rin","Reshmi"],"ages":[21,22]}
print("Hi..., I ma {names[0]}, amd I am {ages[0]} years old.".format_map(d))
print("Hi..., I ma {names[1]}, amd I am {ages[1]} years old.".format_map(d))

### 7) join() : Converts the elements of an iterable into a string
The join() method takes all items in an iterable and joins them into one string.

A string must be specified as the separator.

Syntax :-

string.join(iterable)

In [68]:
for i in range(5): # 0 to n-1
    print(i)

0
1
2
3
4

In [8]:
s="(statistics)"
m="MATHEMATICS"
print("-".join(m))
print(s.join(m))   # (statistics)

M-A-T-H-E-M-A-T-I-C-S
M(statistics)A(statistics)T(statistics)H(statistics)E(statistics)M(statistics)A(statistics)T(statistics)I(statistics)C(statistics)S

In [113]:
# Joining elements with a comma 
items = ["apple", "banana", "cherry"]
result = "-".join(items)
print(result)

# Joining elements of a tuple
words = ("Python", "is", "fun") # ()
result = "-".join(words)
print(result)

#Joining with no separator
letters = ["P", "y", "t", "h", "o", "n"]
result = " ".join(letters)
print(result)

apple-banana-cherry
Python-is-fun
P y t h o n

In [29]:
d={"A":1,"B":2}
d1={1:"A",2:"B"}
s="aaaaaaa"
print(s.join(d))
#print(s.join(d1))  # Error

d={"A":1,"B":2}
s="aaa bbb"
print(s.join(d))


print("$".join("Python"))
print(".".join("Python"))

AaaaaaaaB
Aaaa bbbB
P$y$t$h$o$n
P.y.t.h.o.n

In [34]:
l=["p","y","t","h","o","n"]
print("".join(l))

python

### 8) lower() : Converts a string into lower case
The lower() method returns a string where all characters are lower case.

Symbols and Numbers are ignored.

Syntax :-

string.lower()

In [20]:
s="Python"
print(s.lower())

s="PYTHON"
print(s.lower())

s="Mathematics 1729"
print(s.lower())

s="MATHEMATICS 1729"
print(s.lower())

python
python
mathematics 1729
mathematics 1729

### 9) Split()
Split a string into a list where each word is a list item:

The split() method splits a string into a list.

You can specify the separator, default separator is any whitespace.

In [21]:
s="python progam"
print(s.split())

['python', 'progam']

In [114]:
s="p,y,t,h,o,n"
print(s.split(","))

['p', 'y', 't', 'h', 'o', 'n']

In [79]:
s="p y t h o n"
print(s.split())

['p', 'y', 't', 'h', 'o', 'n']

In [27]:
s="python"
print(s.split("y"))

['p', 'thon']

In [30]:
s="python the characters are in upper case"
print(s.split())

['python', 'the', 'characters', 'are', 'in', 'upper', 'case']

In [31]:
s="Python is a easy programming"
print(s.split())

['Python', 'is', 'a', 'easy', 'programming']

In [119]:
s="Python is a easy Programming"
print(s.split("P"))

['', 'ython is a easy ', 'rogramming']

### 10) isupper() : Returns True if all characters in the string are upper case
The isupper() method returns True if all the characters are in upper case, otherwise False.

Numbers, symbols and spaces are not checked, only alphabet characters.

Syntax :-

string.isupper()

In [9]:
s="STATISTICS"
print(s.isupper())

s="Statistics"
print(s.isupper())

s="STATISTICS 123"
print(s.isupper())

True
False
True

### 11) islower() : Returns True if all characters in the string are lower case
The islower() method returns True if all the characters are in lower case, otherwise False.

Numbers, symbols and spaces are not checked, only alphabet characters.

Syntax :-

string.islower()

In [35]:
a="mathematics"
print(a.islower())
b="mathematics 123"
print(b.islower())
c="Mathematics"
print(c.islower())
d="MATHEMATICS"
print(d.islower())

True
True
False
False

### 12)isdigit(): Returns True if all characters in the string are digits
The isdigit() method returns True if all the characters are digits, otherwise False.

Exponents, like Â², are also considered to be a digit.

Syntax :-

string.isdigit()

In [36]:
s="02998378"
print(s.isdigit())

True

In [37]:
s="python"
print(s.isdigit())

False

In [38]:
s="python3"
print(s.isdigit())

False

### 13) isalnum()	Returns True if all characters in the string are alphanumeric( alphabets and numbers )

The isalnum() method returns True if all the characters are alphanumeric, meaning alphabet letter (a-z) and numbers (0-9).

Example of characters that are not alphanumeric: (space)!#%&? etc.

Syntax :-

string.isalnum()  #No parameters

In [65]:
s="mathematics1729"
print(s.isalnum())

True

In [83]:
s="mathematics"
print(s.isalnum())

True

In [84]:
s="1729"
print(s.isalnum())

True

In [85]:
s="@%$mathematics1729"
print(s.isalnum())

False

In [86]:
s="math.sqrt()"
print(s.isalnum())

False

In [92]:
s="Datascience"
print(s.isalnum())

True

### 14)  isalpha() :	Returns True if all characters in the string are in the alphabet

The isalpha() method returns True if all the characters are alphabet letters (a-z).

Example of characters that are not alphabet letters: (space)!#%&? etc.

Syntax :-

string.isalpha()  # No parameters

In [10]:
s="statistics"
print(s.isalpha())

True

In [11]:
s="statistics123"
print(s.isalpha())

False

In [95]:
s="1729"
print(s.isalpha())

False

In [97]:
s="statisticsandmathematics"
print(s.isalpha())

True

### 15) isascii() :	Returns True if all characters in the string are ascii characters

In [ ]:
s="stats"
print(s.isascii())

In [ ]:
s="stats123"
print(s.isascii())

In [ ]:
s="stats#"
print(s.isascii())

In [ ]:
s="stats       "
print(s.isascii())

In [ ]:
s="s="'HÃªllo WÃ¶rld'"
print(s.isascii())  # gives error

### 16) isdecimal() :	Returns True if all characters in the string are decimals

The isdecimal() method returns True if all the characters are decimals (0-9).

This method is used on unicode objects.

Syntax :-
string.isdecimal()

In [12]:
s = "12345"
print(s.isdecimal())  # Output: True
#All characters in the string are decimal digits.

True

In [99]:
s = "123.45"
print(s.isdecimal())  # Output: False
#The string contains a decimal point, which is not considered a decimal character.

False

In [100]:
s = "12345abc"
print(s.isdecimal())  # Output: False
#he string contains non-decimal characters (abc).

False

### 17) isspace() : Returns True if all characters in the string are whitespaces

The isspace() method returns True if all the characters in a string are whitespaces, otherwise False.

Syntax :-

string.isspace()

In [15]:
s="python"    # " "   '  ' """  """
print(s.isspace())
x="   "
print(x.isspace())

False
True

In [101]:
s="python"    # " "   '  ' """  """
print(s.isspace())

s="data science"
print(s.isspace())

s="    "
print(s.isspace())
s="       s        "
print(s.isspace())

s = "Hello "
print(s.isspace())  # Output: False

s = "  "
print(s.isspace())  # Output: False

s = "   a   "
print(s.isspace())  # Output: False

False
False
True
False
False
True
False

In [ ]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x for x in fruits if "n" in x]

print(newlist)

In [ ]:
t=[" comprehension ","list "]
n=[y for y in t if "l" in y]
print(n)

In [ ]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort()
print(thislist)

In [ ]:
# Sort Descending
To sort descending, use the keyword argument reverse = True:

In [ ]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort(reverse = True)
print(thislist)

In [ ]:
# Sort the list descending:

thislist = [100, 50, 65, 82, 23]
thislist.sort(reverse = True)
print(thislist)

In [ ]:
x=[1,2,38,9]
x.sort(reverse = True)
print(x)

In [ ]:
# Python - Join Lists
## Join Two Lists
There are several ways to join, or concatenate, two or more lists in Python.

One of the easiest ways are by using the + operator.

In [ ]:
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)